x-redash-service: &redash-service
  image: redash/redash:latest
  depends_on:
    - redash_postgres
    - redash_redis
  env_file:
    - ./.env
  restart: always
  networks:
    - fit

services:
# Postgres DB
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
      - ./db-init/postgres:/docker-entrypoint-initdb.d:ro
      - ./backups:/backups:ro
    # Чтобы он раньше остальных стартовал
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 1s
      retries: 5
    networks:
      - fit

# Redash Postgres DB
  redash_postgres:
    image: postgres:16
    env_file:
      - ./.env
    volumes:
      - ./volumes/redash_postgres:/var/lib/postgresql/data
      - ./db-init/redash_postgres:/docker-entrypoint-initdb.d:ro
      - ./backups:/backups:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 1s
      retries: 5
    networks:
      - fit 

# Redash Redis
  redash_redis:
    image: redis:7-alpine
    volumes:
      - ./volumes/redash_redis:/data
    restart: unless-stopped
    networks:
      - fit

# Redash Server
  server:
    <<: *redash-service
    command: server
    ports:
      - "5000:5000"
    environment:
      REDASH_WEB_WORKERS: 4

# Redash Scheduler
  scheduler:
    <<: *redash-service
    command: scheduler
    depends_on:
      - server
    environment:
      QUEUES: "scheduled_queries,schemas"
      WORKERS_COUNT: 1

# adhoc_worker
  adhoc_worker:
    <<: *redash-service
    command: worker
    depends_on:
      - server
    environment:
      QUEUES: "queries"
      WORKERS_COUNT: 2

# Redash Worker
  worker:
    <<: *redash-service
    command: worker
    depends_on:
      - server
    environment:
      QUEUES: "periodic,emails,default"
      WORKERS_COUNT: 1

# Redash Nginx
  nginx:
    image: redash/nginx:latest
    ports:
      - "80:80"
    depends_on:
      - server
    links:
      - server:redash
    restart: always
    networks:
      - fit

# Adminer for db
  adminer:
    image: adminer:latest
    container_name: adminer
    depends_on:
      - postgres
    ports:
      - "18081:8080"
    networks:
      - fit

# Python app
  generator:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: generator
    env_file:
      - ./.env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - fit

# Jupyter Notebook
  jupyter:
    build:
      context: .
      dockerfile: notebooks/Dockerfile
    container_name: jupyter
    networks:
      - fit
    depends_on:
      - postgres
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      JUPYTER_TOKEN: dev
    command: start-notebook.sh --NotebookApp.password=''

networks:
  fit:
    driver: bridge