services:
# Postgres DB
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dan
      POSTGRES_PASSWORD: dan
      POSTGRES_DB: fit
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

# Adminer for db
  adminer:
    image: adminer:latest
    container_name: adminer
    depends_on:
      - postgres
    ports:
      - "18081:8080"
    restart: unless-stopped

# Python app
  generator:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: generator
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://dan:dan@postgres:5432/fit
      INTERVAL_SECONDS: 1
      PYTHONUNBUFFERED: 1
    restart: unless-stopped

volumes:
  postgres_data: