services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dan
      POSTGRES_PASSWORD: dan
      POSTGRES_DB: fit
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped