services:
# Postgres DB
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

# Adminer for db
  adminer:
    image: adminer:latest
    container_name: adminer
    depends_on:
      - postgres
    ports:
      - "18081:8080"   # http://localhost:18081
    restart: unless-stopped

# Python app
  generator:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: generator
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    restart: unless-stopped

volumes:
  postgres_data: