services:
# Postgres DB
  postgres:
    image: postgres:16
    container_name: postgres
    networks:
      - fit
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data

# Redash Postgres DB
  redash_postgres:
    image: postgres:16
    container_name: redash_postgres
    networks:
      - fit
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${REDASH_POSTGRES_USER}
      POSTGRES_PASSWORD: ${REDASH_POSTGRES_PASSWORD}
      POSTGRES_DB: ${REDASH_POSTGRES_DB}
    volumes:
      - ./volumes/redash_postgres:/var/lib/postgresql/data

# Redash Redis
  redash_redis:
    image: redis:7-alpine
    container_name: redash_redis
    networks:
      - fit
    volumes:
      - ./volumes/redash_redis:/data

# Redash Server
  redash_server:
    image: redash/redash:latest
    container_name: redash_server
    networks:
      - fit
    depends_on:
      - redash_postgres
      - redash_redis
    ports:
      - "5000:5000"
    env_file:
      - config-redash.yaml
    command: server

# Redash Scheduler
  redash_scheduler:
    image: redash/redash:latest
    container_name: redash_scheduler
    networks:
      - fit
    depends_on:
      - redash_server
    env_file:
      - config-redash.yaml
    command: scheduler

# Redash Worker
  redash_worker:
    image: redash/redash:latest
    container_name: redash_worker
    networks:
      - fit
    depends_on:
      - redash_server
    env_file:
      - config-redash.yaml
    environment:
      QUEUES: queries,scheduled_queries,schemas
    command: worker

# Adminer for db
  adminer:
    image: adminer:latest
    container_name: adminer
    networks:
      - fit
    depends_on:
      - postgres
    ports:
      - "18081:8080"

# Python app
  generator:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: generator
    networks:
      - fit
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DATABASE_URL}
      INTERVAL_SECONDS: ${INTERVAL_SECONDS}
      PYTHONUNBUFFERED: ${PYTHONUNBUFFERED}

# Jupyter Notebook
  jupyter:
    build:
      context: .
      dockerfile: notebooks/Dockerfile
    container_name: jupyter
    networks:
      - fit
    depends_on:
      - postgres
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      JUPYTER_TOKEN: ${JUPYTER_TOKEN}
    command: start-notebook.sh --NotebookApp.token=${JUPYTER_TOKEN} --NotebookApp.password=''

networks:
  fit:
    driver: bridge